
// Screen Sizes  
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

// Fonts 
$font-default: 'Monserrat', sans-serif;

// Colors 
$color-link: #50c9ff
$color-select: #fff
$color-bg: #e9e9ee
$color-blue: #39f

