
// Screen Sizes  
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

// Fonts 
$font-default: 'Monserrat', sans-serif;

// Colors 
$color-select: #dd33ff
$color-bg: #e9e9f2 
$color-blue: #0050a0
$color-dark-blue: #081226

